<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>NBK Olympia</title>
    <style>
        body {
            background-color: #314B77;
            /* min-width: 860px; */
        }

        .nav-item {
            margin-left: 1em;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">NBK Olympia</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="khoiDongDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Khởi động
                    </a>
                    <div class="dropdown-menu" aria-labelledby="khoiDongDropdown">
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'khoidong' 'ts1' %}">Thí sinh 1</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'khoidong' 'ts2' %}">Thí sinh 2</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'khoidong' 'ts3' %}">Thí sinh 3</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'khoidong' 'ts4' %}">Thí sinh 4</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="tangtocDropDown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Tăng tốc
                    </a>
                    <div class="dropdown-menu" aria-labelledby="tangtocDropDown">
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'tangtoc' 1%}">Câu hỏi 1</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'tangtoc' 2%}">Câu hỏi 2</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'tangtoc' 3%}">Câu hỏi 3</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'tangtoc' 4%}">Câu hỏi 4</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="vcnvDropDown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        VCNV
                    </a>
                    <div class="dropdown-menu" aria-labelledby="vcnvDropDown">
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'vcnv' 1%}">Câu
                            hỏi 1</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'vcnv' 2%}">Câu
                            hỏi 2</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'vcnv' 3%}">Câu
                            hỏi 3</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'question' 'vcnv' 4%}">Câu
                            hỏi 4</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning" href="{% url 'answer' %}">Trả lời câu hỏi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning" href="{% url 'newQuestion' %}">Thêm câu hỏi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-danger" href="{% url 'reset' %}">Reset câu hỏi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary" href="{% url 'logout' %}">Logout, {{user}}</a>
                </li>
            </ul>
    </nav>
    <div class="container">
        <div class="row" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</html>