{% extends 'tangtoc/base.html' %}

{% block style %}
<style>
    #message {
        text-align: center;
        color: white;
        margin-top: 20%;
    }

    #footer {
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        font-style: italic;
    }
</style>
{% endblock %}

{% block content %}
    <div class="col-12" id="message">
        {% if not message %}
            <h1>Chào mừng đến với chương trình NBK Olympia</h1>
        {% else %}
            <h1>{{message}}</h1>
        {% endif %}
    </div>
    <div class="col-12" id="footer">
        <h6>Developer: Duc Le (LE_MAI_THANH_DUC) - Jan 2019. Report bugs: <a href="mailto:duc.mtle@gmail.com">duc.mtle@gmail.com</a></h6>
    </div>
{% endblock %}